video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter:blur(4px);
}

.hero-container{
    height: 100vh;
    width: 100%;
    display: flex;

    box-shadow: inset 0 0 0 1000px rgba(252, 100, 151, 0.2);
    object-fit: contain;
    text-shadow: 1.5px 1.5px rgb(150, 50, 83);
}
.hero-info{
    margin-left: 20vw;
    margin-top: 20vh;
}

.hero-info > h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-shadow: 1.5px 1.5px rgb(150, 50, 83);
}

.hero-info-secondary > p {
    color: #fff;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
}
.hero-social-media{
    float: right;
}

.hero-info-secondary a{
    color: rgb(252, 100, 151);
    margin:10px;
    font-size: 32px;
    text-shadow: 1.5px 1.5px rgb(150, 50, 83);
}

.hero-info-secondary a:hover{
    transition: 0.2s ease-out;
    color: #fff;
}

.hero-info-secondary a:active{
    color: #242424;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .hero-container > p {
        font-size: 30px;
    }
}